:root {
  --dark-color: #192b3f;
  --blue-color: #007add;
  --new-green-color: #58c4c6;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  border: none;
  padding: 0.5rem 1rem;
}

.main-btn:hover {
  background-color: #e41d3b;
  color: var(--section-color);
  transition: 0.3s;
}

.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */

.navbar {
  background-color: var(--blue-color);
  /* box-shadow: 0 0 10px #ddd; */
  box-shadow: 0 0 10px #666;
  z-index: 2;
}

.navbar .navbar-nav .nav-link {
  color: #ddd;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: var(--section-color);
}

.navbar .navbar-toggler-icon {
  color: var(--section-color);
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* End Navbar */
/* Start Landing */
.landing {
  background-color: var(--section-color);
  min-height: calc(100vh - 72px);
}

.landing .very-big {
  font-size: 5rem ;
}
/* End Landing */
/* Start images */
.images {
  background-color: var(--new-green-color);
  min-height: calc(100vh - 72px);
}

.images .slider-container {
  position: relative;
  margin: 10px auto;
  max-width: 800px;
  max-height: 250px;
}
.images .slider-container .slider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.images .caption {
  text-align: center;
  margin: 10px 0;
  color: white;
}

.images .prev-btn,
.images .next-btn {
  margin: 10px;
  position: absolute;
}

.images .prev-btn {
  float: left;
}

.images .prev-btn {
  float: right;
}
/* End images */
/* Start Features */
.features .main-title h2 {
color: var(--blue-color);
}
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}

.features .icon {
  color: var(--green-color);
}

.features .feat {
  color: var(--blue-color);
}
/* End Features */
/* Start Our Work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: white;
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
/* End Our Work */
/* Start Contact */
.contact {
  background-color: #777;
  color: white;
}
/* End Contact */
